<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is the backend html</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
</style>
<body>

    <main>
        <form method="post" action="">
        <h1>Registration form  </h1>

            <input placeholder="name" type="text" name="name">
            <input placeholder="email" type="email" name="email">
            <button type="submit">submit</button>
        </form>
    </main>
</body>
</html>